<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css">
</head>
<body style="background-color: rgb(180, 47, 70);">
    <header>
        <h3 style="color: white;">Bine ai revenit</h3>
    </header>

    <ngb-carousel >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/logare1.jpg" alt="Tricou Matol" class="images"/>
        </div>
        <div class="carousel-caption" style="color: black;">
          <h3 style="text-shadow: 2px 2px 2px black;color: white;">TRICOU MATOL</h3>
          <h4 style="text-shadow: 2px 2px 2px black;color: white;">Premium Street Outfit</h4>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/logare2.jpg" alt="Hanorac Matol" class="images"/>
        </div>
        <div class="carousel-caption" style="color: black;">
          <h3 style="text-shadow: 2px 2px 2px white;color: black;">HANORAC MATOL</h3>

        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/logare3.jpg" alt="Tricou Straie" class="images" />
        </div>
        <div class="carousel-caption" >
          <h3 style="text-shadow: 2px 2px 2px white;color: black;">TRICOU STRAIE</h3>
          <p style="color: black;"></p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/logare4.jpg" alt="Hanorac Straie" class="images" />
        </div>
        <div class="carousel-caption" >
          <h3 style="text-shadow: 2px 2px 2px black;color: white;">HANORAC STRAIE</h3>
          <p style="color: black;"></p>
        </div>
      </ng-template>
    </ngb-carousel>

    <footer style="background-color: rgb(180, 47, 70); color:white; text-align: center;position:relative;">
        <p>&copy; 2023 Straie de Stradă | All rights reserved</p>
    </footer>
</body>
</html>
