<app-admindashboardheader></app-admindashboardheader>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <h5><a class="nav-link" routerLink="/adminhomepage">Acasă </a></h5>
            </li>

            <li class="nav-item active">
                <h5><a class="nav-link" routerLink="/adminaddproduct" >Adaugă produse</a></h5>
            </li>

            <li class="nav-item active">
                <h5><a class="nav-link" routerLink="/adminregview">Clienți înregistrați</a></h5>
            </li>

            <li class="nav-item active">
                <h5><a class="nav-link" routerLink="/customerMesgView">Requesturi clienți </a></h5>
            </li>
            </ul>
        </div>
      </nav>
</header>
<body>

</body>
