<app-headerbeforelog></app-headerbeforelog>
<body style="background-color: rgb(255, 255, 255);">
<ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/pic2.jpg" alt="Hanorac Matol" class="images"/>
    </div>
    <div class="carousel-caption" >
      <h2 style="text-shadow: 1px 1px 1px  #ff0000;color: white;">Straie De Stradă | Shop</h2>
      <p style="color: white;">Premium Street Outfit</p>
    </div>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="/assets/pic3.jpg" alt="Tricou domnisoara" class="images"/>
		</div>
	</ng-template>
		<div class="carousel-caption" style="color: black;">
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;"></h3>

		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="/assets/pic1.jpg" alt="Tricou Tambalau" class="images" />
		</div>
	</ng-template>
</ngb-carousel>
</body>
